*{
    padding: 0;
    margin: 0;
}

h1{
    font-family: 'Viga', sans-serif;
}
h3{
    font-family: 'Viga', sans-serif;
}

#nav{
    display: flex;
    flex-direction: row;
    background-color: #084F8C;
    height: 80px;
}

#nav ul li{
    list-style: none;
    font-family: 'Viga', sans-serif;
}

#nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

#nav ul li a:hover{
    color: #bebebe;
    font-size: 19px;
    transition: 0.5s ease-out;
}

#barra{
    width: 50%;
}

#barra ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

#perfil{
    display: flex;
    width: 50%;
    justify-content: right;
    align-items: center;
    gap: 30px;
    margin-right: 50px;
}

#perfil h3{
    color: white;
    font-size: 18px;
}

#foto{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.icon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 50px;
    margin-left: 10vw;
    margin-right: 10vw;
}

#main h1{
    font-size: 36px;
}

#main input{
    border-radius: 30px;
    border-style: solid;
    background-color: #D9D9D9;
    border-color: #D9D9D9;
    box-shadow: 0px 5px 15px rgb(175, 175, 175);
    width: 400px;
    height: 30px;
}

.card {
    width: 600px;
    height: 150px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }
   
.card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: flex;
    place-content: left;
   }

.card-details img{
    border-radius: 30px;
}
   
.card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #05F26C;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
    font-family: 'Viga', sans-serif;
   }

#text{
    margin-left: 20px;
}
   
.text-body {
    color: rgb(134, 134, 134);
   }

.text-body p{
    font-size: 60px;
}
   
   
.text-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
   }
   
   /*Hover*/
   .card:hover {
    border-color: #05F26C;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
   .card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
    width: 300px;
   }

   button:hover{
    cursor: pointer;
   }